nav {
    background-color: $colorF;
    font-family: $fuenteMenu;
    font-weight: bolder;
}

li {
    margin-left: 50px;
}

/*  */
footer {
    height: 70px;
    background-color: $colorF;
    color: white;
    text-align: center;
}