$colorF: rgb(219, 216, 216);
$tamanioParrafos:18px;
$tamanioTitulos:45px;
$fuenteMenu:'Montserrat', sans-serif;
$fuenteTitulos:'Ubuntu', sans-serif;
$fuenteParrafos:'Quicksand', sans-serif;
$medidaS:600px;
$medidaM:896px;